<%= form_with model: post, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group mb-3">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group mb-3">
    <%= f.label :topping %>
    <%= f.text_field :topping, class: 'form-control' %>
  </div>
  <div class="form-group mb-3">
    <%= f.label :image %>
    <%= f.file_field :image, class: 'form-control mb-3', accept: 'image/*' %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div class='mt-4 mb-4'>
    <%= image_tag post.image_url, id: 'preview', size: '300x200' %>
  </div>
  <div class="form-group mb-3">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control', rows: 10 %>
  </div>
  <div class="text-center mb-3">
  <%= f.submit t('defaults.post'), class: 'btn btn-warning' %>
<% end %>