<div class="col-sm-12 col-lg-4 mb-3">
  <div id="post-id-<%= post.id %>">
    <div class="card">
      <%= image_tag 'post_placeholder.png', class: 'card-img-top', size: '300x200' %>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">
            <%= post.title %>
          </a>
        </h4>
        <div class='mr10 float-right'>
        </div>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= post.title %>
          </li>
          <li class="list-inline-item">
            <%= l post.created_at, format: :long %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>